@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 5rem;
  justify-content: center;
  align-items: center;
}

#header{
  font-size: 5rem;
  font-weight: bold;
  text-align: center;


}

#container{
  color: black;  
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  height: 80vh;    
  width: 80vw;   
  gap: 1.2rem;
  
  
  
}

.projectTitleDiv{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-left: #a77b49 1rem solid;
  
  border-radius: 5rem;
}

.todosContainer{
  display: none;
  gap: 1rem;
}

.close{
  display: none;
  width: 4rem;
  
}
  
.show{
  width: 4rem;

}
#newProjectForm, #newTodoForm, #addAttributeForm, #editForm{
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  right: 50;
  top: 50;
  background-color: lightgray;
  border-radius: 15px;
  padding: 2rem;
  border: solid 1px black;
  padding: 3rem;
  box-shadow: 8px 8px 8px 8px grey;
  border: none;
}

.todoDiv{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding-left: 2rem;
  border-radius: 2rem;
  overflow: auto;
  padding: 2rem;  
}

.titleDiv{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.buttonsDiv{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.infoDiv{
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  gap: 0.5rem;
}

.attributesDiv{
  display: none;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  padding-left: 3rem;
  gap: 2rem;
  border: 2px solid;
  border-radius: 1rem;
  padding: 4rem;
  background: white;
  font-size: 1.5rem;
}

.descriptionDiv, .priorityDiv, .dueDateDiv{
  display: flex;
  gap: 1rem;
  border-bottom: 2px black solid;
}

.priorityHeading, .priorityInfo, .descriptionHeading, .descriptionInfo, .dueDateHeading, .dueDateInfo{
  margin: 0;
  padding: 0;
  
}

.trash{
  width: 10%;
}



.edit{
  display: none;
  
}

#closeProjects{
  display: none;
}

#buttonsContainer{
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  align-self: center;
}

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input{
  outline: none;
  
  border: 1px black solid;
}

.formButtons{
  display: flex;
  gap: 1rem;
}



input[type=checkbox] {
  outline: none;
  border: 2px aquamarine solid;
  border-radius: 4px;
  background: azure;
  width: 20px;
  height: 20px;
  box-shadow: 2px 2px 2px 2px grey;
}

input:checked{
  box-shadow: none;
  background-color: aquamarine;
  border-radius: 8px;
  width: 5rem;
  height: auto;
  box-shadow: 2px 2px 2px 2px grey;
  border: 2px black solid;
  padding: 5px; 
}

input:checked::after{
  content: 'Completed!' ;
  padding: 5%;
  
}

button, input[type=submit]{  
  
  background: linear-gradient(to left, #70420d, #7e501b, #a77b49, #c5a279);
  color: white;
  height: 2rem;
  width: 10rem;
  border-radius: 20px;    
  box-shadow: 2px 2px 2px 2px grey;
  border: none;
}

button:hover{
  opacity: 0.8;
  position: relative;
  bottom: 2%;
  box-shadow: 4px 4px 4px 4px grey;
}

button:focus{
  position: relative;
  top: 4%;
  box-shadow: none;
}

input[type=text]{
  outline: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 4px gray;
}

input[type=text]:focus{
  padding: 0.3rem;
}

form{
  font-weight: bold;
}
